<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Resultados Elecciones 2016</title>
        <!-- import plugin script -->
        <script src='js/Chart.js'></script>
        <link type="text/css" href="css/index.css" rel="stylesheet"/>
    </head>
    <body>

    <section id="mainSection">

        <h1>Resultados Elecciones 2016</h1>

        <!-- pie chart canvas element -->
        <canvas id="pieResultados" width="600" height="400"></canvas>

    </section>

        <!-- bar chart canvas element -->
        <script>

           // pie chart data
            var pieData = [
                {
                    value: 20,
                    color:"#878BB6"
                },
                {
                    value : 40,
                    color : "#4ACAB4"
                },
                {
                    value : 10,
                    color : "#FF8153"
                },
                {
                    value : 30,
                    color : "#FFEA88"
                }
            ];
            // pie chart options
            var pieOptions = {
                 segmentShowStroke : false,
                 animateScale : true
            }

            // get pie chart canvas
            var resultadosPie= document.getElementById("pieResultados").getContext("2d");

            // draw pie chart
            new Chart(resultadosPie).Pie(pieData, pieOptions);

        </script>
    </body>
</html>